<!DOCTYPE html>
<html class="google-js" lang="en">
<meta charset="utf-8">
<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
<title>
  Vendor Security Assessment Questionnaire
</title>
<link href="https://www.google.com/css/maia.css" rel="stylesheet" />
<link href="static/vsaq.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet" />
<div class="maia-header" id="maia-header" role="banner">
  <div class="maia-aux">
    <h1>
      <a href="/">Plastiq VSAQ</a>
    </h1>
    <h2>Vendor Security Assessment Questionnaires</h2>
  </div>
</div>

<div class="maia-nav maia-complex" id="maia-nav-x" role="navigation" style="z-index: 1;">
  <div class="maia-aux">
    <ul style="z-index: 1;">
    </ul>
  </div>
</div>

<div id="maia-main" role="main">
  <div class="maia-article" role="article">
    <div class="maia-cols">
      <div class="maia-col-12" style="position: relative">
        <div class="butterbar-container">
          <div class="vsaq-invisible" id="_vsaq_butterbar"></div>
        </div>
      </div>
      <div class="maia-col-12">
        <div class="main-content">
          Load answers from file:<br />
          <input type="file" id="answer_file" multiple /><br />

          <form id="postdata">
            <input type="hidden" name="_rom_" id="_rom_" value="{{readonly|lower}}">
            <input type="hidden" name="draft" id="draft" value="false">
          </form>
          <form id="_vsaq_export_element">
            <div id="_vsaq_body" class="vsaq-body">
              <p>
              Please reload this page with a qpath parameter.<br />
              E.g.: qpath=questionnaires/ven_template.json<br />
              Link: <a href="?qpath=questionnaires/test_template.json" >Example</a><br />
              </p>
            </div>
          </form>
          <p>
            <span class="vsaq-saved-status">
              Status: <span id="_vsaq_saved_status">No changes</span>
            </span>
            <br />
            <a class="maia-button" id="_vsaq_save_questionnaire">Download Answers</a>
            <a class="maia-button eh-clear" id="_vsaq_clear_questionnaire">Reset Questionnaire</a>
          </p>
        </div>
      </div>
    </div>
    <div id="maia-signature"></div>
    <div id="vsaq-dialogs"></div>
    <script src="https://www.google.com/js/maia.js"></script>
    <script src="vsaq_binary.js"></script>
  </div>
</div>

</html>
